use flake
nix profile wipe-history --profile "$(direnv_layout_dir)/flake-profile" --older-than 14d

if [[ -n "${DEV_INSTALL_EDITABLE:-}" ]]; then
  install_dir=$(mktemp -d)
  PIP_DISABLE_PIP_VERSION_CHECK=1 pip install -e . --prefix $install_dir
  export PATH=$install_dir/bin:$PATH
  export PYTHONPATH=.:$PYTHONPATH
fi