language: python
python:
- '3.6'
- '3.7'
- '3.8'
install:
- pip install -e .
- pip install -r requirements_dev.txt
script:
- black --check setup.py test py_air_control_exporter
- flake8 setup.py test py_air_control_exporter
- pytest test
deploy:
  provider: pypi
  user: __token__
  distributions: sdist
  password:
    secure: g+ydGlxgfj1e750aDLvMXDHqQGJPjTlM1Ql98jpI94i3h3VP5YO1DjgLEIyul83r9Jl24UiTIwn3r0eatbjnYVJzMe0YuIVvqc0k3pWhQ6WkvYLEPa6iW7ZbfFVOJ0g4m7Cl1R4iHWz8zXzL6k3rC7LLE0p8Uca9hu9WEdVKCW9LyA7wDOStKYBQIbQmHqBVXm+douv4BU09NWIDXsVmm/6Tc+ZtwnyIbMujuAhj5iFoZK0dS9CkPtzdhLvUhYBwN9Ph5/XxrnVse9KLhaFjRayf3/gc382HsRDz0fReGdtIBONGqRkkpr4kSmEwbm0omQVyGEPtreE52DqXcuFK2usUaz32s/1OYlioaBh9/qCImSKLfWWdf4eTVh6G9UlriXQ8zxQrOoj7samVDq/msCwiAqQRVFS91NziKHCGWYQnhrDArqqjsQ208qClixDvbJOJyxn1xqXScKwhCIgzt0kWg3upTgQJhLXezqMGkVLJeaip7ZAoEkNxv9vqyjexhg3L1wjxaGQHt9E2RzjQ/nBOlNmA9if03cOQjBdaWwgoE5UvbwiGqtPOY6lJHKXamDOcrkPO8MMRXY9XDiMU2iAl4GQq/Qgv4vmT5rXFNX066dOi+FWfJoSZHHoKV0cdYCTAl2aRS81rdQD/0f4u5V9psWt2bDW4wfMcIIsV4ck=
  on:
    tags: true
    repo: urbas/py-air-control-exporter
    python: '3.8'
